.DS_Store
*scratch*
override.tf
*.tfvars
.terraform*
terraform.tfstate*
tf_hosts.json
__pycache__
/test_code/python_scripts/file_outputs
*.ini
test_code/python_scripts/testenv
log_outputs
/test_code/python_scripts/context
/test_code/python_scripts/.idea
/test_code/outputs.tf
/test_code_v2/python/.*env
observe_datastream_token_hostmon
observe_name_format_hostmon
aws_machines*
ephemeral_key