.DS_Store
*scratch*
override.tf
*.tfvars
.terraform*
tf_hosts.json
__pycache__
/test_code/python_scripts/file_outputs
*.ini
test_code/python_scripts/testenv
log_outputs
/test_code/python_scripts/context
